header.header
  //- lang,name,link, image (otional), active (optional) 
  -let linksArr = [{lang: 'menu-metacraft', name: 'Metacraft.earth', link: 'https://mine.nftcraft.game/', image: true},{lang: 'menu-nftcraft', name: 'NFTCraft', link: 'https://web.nftcraft.game', image: true},{lang: 'menu-unity', name: 'Unity (test)', link: 'https://unity.nftcraft.game/', image: true}]
  -let extraLinkArr = [{lang: 'menu-partners', name: 'Партнерам', link: '#partners'},{lang: 'menu-invest', name: 'Инвесторам', link: 'https://invest.nftcraft.game', active: true}]
  -let extraLinkArr2 = [{lang: 'menu-partners2', name: 'Партнерам', link: '#partners'},{lang: 'menu-invest2', name: 'Инвесторам', link: 'https://invest.nftcraft.game', active: true}]
  -let anchorArr = [{lang: 'menu-world', name: 'Миры', link: '#platform'},{lang: 'menu-tokens', name: 'ТОКЕНОМИКА', link: '#tokenomics'},{lang: 'menu-achievements', name: 'Результаты', link: '#achievements'},{lang: 'menu-roadmap', name: 'roadmap', link: '#roadmap'}]
  .mobile__header 
    a(href="https://nftcraft.game", target="_blank", rel="noopener noreferrer") 
      .logo_mobile
        +picture('./img/header/logo-row', ['png', 'webp'], 'logo')
    button.burger-menu
      span
  .mobile__menu
    .menu__top.menu 
      each item in linksArr 
        .item(class= item.active ? "active" : "")
          if item.image
            .icon-game            
          a(href=item.link, rel="noopener noreferrer" data-lang=item.lang) #{item.name} 
    .menu__main 
      .button_play
        button.login.user(onclick="connectWallet()")
            +picture('./img/header/login', ['png', 'webp'], 'metamask')
            span(data-lang="menu-metamask-btn") Connect wallet
        .user.user__info.off
          .balance
            span(onclick="addTokenToMetaMask()")
                +picture('./img/header/add-token', ['png', 'webp'], 'logout')
            span.green NCT:
            span.userBalance 411 512
          .logout
            span(onclick="logout()")
                +picture('./img/header/logout', ['png', 'webp'], 'logout')
      .menu.menu__anchor 
        each item in anchorArr 
          a(href=item.link) #{item.name}
      .lang(data-lang-selector lang-value="en")
        span.lang-selected
        +picture('./img/header/arrow', ['png', 'webp'], 'arrow')
        ul.lang-list
          li.lang-list__item
            a.ru(data-lang-pick="ru") Russian
          li.lang-list__item
            a.en(data-lang-pick="en") English
    .menu__footer
      .menu.menu__extra 
        each item in extraLinkArr2
          .item(class= item.active ? "active" : "")          
            a(href=item.link, data-lang=item.lang) #{item.name}
  .top
    .menu.links
      a.logo(href="https://nftcraft.game", target="_blank", rel="noopener noreferrer")       
        +picture('./img/header/logo-big', ['png', 'webp'], 'logo') 
      each item in linksArr 
        .item(class= item.active ? "active" : "")
          if item.image
            .icon-game            
          a(href=item.link, rel="noopener noreferrer" data-lang=item.lang) #{item.name}
      .menu__extra 
        each item in extraLinkArr
          .item(class= item.active ? "active" : "")          
            a(href=item.link, data-lang=item.lang) #{item.name}
      .lang(data-lang-selector lang-value="en")
        span.lang-selected
        +picture('./img/header/arrow', ['png', 'webp'], 'arrow')
        ul.lang-list
          li.lang-list__item
            a.ru(data-lang-pick="ru") Russian
          li.lang-list__item
            a.en(data-lang-pick="en") English
    
  .bottom
    .menu.menu__anchor 
      each item in anchorArr 
         a(href=item.link, data-lang=item.lang) #{item.name}
      .button_play
        button.login.user(onclick="connectWallet()")
            +picture('./img/header/login', ['png', 'webp'], 'metamask')
            span(data-lang="menu-metamask-btn") Connect wallet
        .user.user__info.off
          .balance
            span(onclick="addTokenToMetaMask()")
                +picture('./img/header/add-token', ['png', 'webp'], 'logout')
            span.green NCT:
            span.userBalance 411 512
          .logout
            .number.userAddress 0x37F...5E1dввоа
            span(onclick="logout()")
                +picture('./img/header/logout', ['png', 'webp'], 'logout')